.downloads-archive, .download-single
  .download-wrap
    border: solid 0.5px #bfbdbd
    flex-direction: row
    &:not(:first-child)
      margin-top: 15px
    .download-controls
      justify-content: flex-start
    .download-img
      width: auto
      min-width: 300px
      align-self: center
      padding-left: 15px
      img
        width: 100%
        height: auto
    .download-content
      border: none
      .download-content-wrap

.download-preview
  padding-bottom: 30px
  img
    width: 100%
.download-single
  .download-wrap
    border: none
    .download-content
      padding: 0
      .download-title
        h3
         font-size: 20px
         padding-bottom: 15px
    .download-controls
      margin-top: 30px
      a
        width: 153px
        height: 44px
        &:not(:first-child)
          width: 60px


