/*********------ ICONS --------********/
.calendar-icn
  display: inline-block
  min-width: 17px
  width: 17px
  height: 17px
  -webkit-mask-image: url("../img/icons8-calendar.svg")
  mask-image: url("../img/icons8-calendar.svg")
  background-size: cover
  background-color: $main_blue_color

.clock-icn
  display: inline-block
  min-width: 17px
  width: 17px
  height: 17px
  -webkit-mask-image: url("../img/icons8-clock.svg")
  mask-image: url("../img/icons8-clock.svg")
  background-size: cover
  background-color: $main_blue_color

.lang-icn
  display: inline-block
  min-width: 17px
  width: 17px
  height: 17px
  -webkit-mask-image: url("../img/global.svg")
  mask-image: url("../img/global.svg")
  background-size: cover
  background-color: $main_blue_color

.preview-icn
  display: inline-block
  width: 22px
  height: 22px
  -webkit-mask-image: url("../img/eye.svg")
  mask-image: url("../img/eye.svg")
  background-size: cover
  background-color: white
  background-repeat: no-repeat

.twitter-icn
  display: inline-block
  width: 22px
  height: 22px
  -webkit-mask-image: url("../img/twitter.svg")
  mask-image: url("../img/twitter.svg")
  background-size: cover
  background-color: white
  background-repeat: no-repeat

.facebook-icn
  display: inline-block
  width: 22px
  height: 22px
  -webkit-mask-image: url("../img/facebook.svg")
  mask-image: url("../img/facebook.svg")
  background-size: cover
  background-color: white
  background-repeat: no-repeat
.linkedin-icn
  display: inline-block
  width: 22px
  height: 22px
  -webkit-mask-image: url("../img/linkedin.svg")
  mask-image: url("../img/linkedin.svg")
  background-size: cover
  background-color: white
  background-repeat: no-repeat
.youtube-icn
  display: inline-block
  width: 22px
  height: 22px
  -webkit-mask-image: url("../img/social-media.svg")
  mask-image: url("../img/social-media.svg")
  background-size: cover
  background-color: white
  background-repeat: no-repeat

.play-icn
  display: inline-block
  width: 22px
  height: 22px
  -webkit-mask-image: url("../img/play-button.svg")
  mask-image: url("../img/play-button.svg")
  background-size: cover
  background-color: white
  background-repeat: no-repeat
.refresh-icn
  display: none
  width: 22px
  height: 22px
  -webkit-mask-image: url("../img/refresh.svg")
  mask-image: url("../img/refresh.svg")
  background-size: cover
  background-color: white
  background-repeat: no-repeat
  transform: rotate(360deg)
  animation: refresh 0.8s infinite linear


@-webkit-keyframes refresh
 0%
  -moz-transform: rotate(0deg)
  -webkit-transform: rotate(0deg)

 100%
  -moz-transform: rotate(360deg)
  -webkit-transform: rotate(360deg)


@-moz-keyframes refresh
 0%
  -moz-transform: rotate(0deg)
  -webkit-transform: rotate(0deg)

 100%
  -moz-transform: rotate(360deg)
  -webkit-transform: rotate(360deg)



