@import "colors","icons","sizes"

body
  margin: 0 /*auto*/
  padding: 0
  background-color: white
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
  /*max-width: 1200px*/

  ul, ol
    padding-inline-start: 0
    margin: 0
    padding: 0

  img
    max-width: none

  .header-search
   .search-form
    label
      padding-bottom: 0

  .header-one-profile
    p
      margin-bottom: 0
    .widget
      margin: 0



  .content
    h3
      color: $main_blue_color
      font-size: 16px
      margin-top: 0

  /*h1, h2, h3, h4, h5, h6
    color: white*/

  .container
    padding-left: 0
    padding-right: 0

  section
    margin-top: 80px
  figure
    margin: 0

  .row-eq-height
    [class^=col]:first-of-type
    display: flex

  .boot-row
    margin-left: 0
    margin-right: 0

  .modal
    .modal-body
      border-bottom: 0
    .modal-header
      border-bottom: 0
  .section-title, .entry-title, .fmwp-topic-head h1
    color: $main_blue_color
    font-size: $section_header_size
    font-weight: bold
    margin-bottom: 30px
    border-bottom: 1px solid #758490
    padding-bottom: 15px
    width: 100%
  .fmwp-topic-head
    h1
      margin-bottom: 0

  .fmwp_topic, .fmwp_forum
    .single
      .entry-title
        border: none



  .page-home-header
    margin: 0
    width: 100%
    img
      width: 100%
      height: auto
      max-height: 674px
      object-fit: cover

  .hero-btn
    background-color: white
    color: $main_blue_color
    text-decoration: none
    display: block
    text-align: center
    border-radius: 11px
    transition: all 0.2s ease-in
    &:hover
      background-color: #f1f1f1
    &.blue-btn
      background-color: $main_blue_color
      color: white
      border-radius: 7px
      padding: 15px 0
      font-size: 15px
      text-decoration: none
      &:hover
        background-color: #04365d

  .hero-btn.blue-btn.today-launch
    background-color: #0084a9
    padding: 28px
    font-size: 18px
    font-weight: bold
    text-transform: uppercase
    &:hover
      background-color: #03637f

  /************** live canvas fixes **********************/
.text-page
  ul,ol
    li
      padding-bottom: 15px
/***************** UM styles check ************************/
.um-locked-content
  display: none
.topbar-right
  display: flex
  flex-direction: row
  justify-content: flex-end
  .user-points
    display: flex
    align-self: center
    color: white
    padding-right: 10px
.single.page-meta
  padding: 1em 0


  /************ FORUM STYLE CUSTOMIZATIONS *******************/
.fmwp-topic-data-content
  h1
    font-size: 25px!important
.fmwp-forum-content
 .fmwp-topics-wrapper-heading
   font-size: 1em!important
.fmwp-forums-search>label
  padding-bottom: 15px!important
.fmwp-post-popup-actions
  input[type="button"]
    background-color: $main_blue_color!important
    color: white!important
    border-radius: 6px!important
.fmwp-post-popup-wrapper
 .fmwp-post-popup-toolbar
  .fmwp-post-popup-action-fullsize
    background-color: $main_blue_color!important
    border-color: $main_blue_color!important
    &:hover
      background-color: $main_blue_color!important
.forum-sec
  padding-top: 60px
  padding-bottom: 60px
  background-color: #f7f9fc
  .forum-title
    color: $main_blue_color
    font-size: 25px
  .fmwp.fmwp-archive-forum-wrapper, .fmwp.fmwp-archive-forums-wrapper
    padding-top: 0

.fmwp-forum-content
.fmwp-topics-wrapper-heading
  padding: 0 10px 15px 0!important
.fmwp-forum-head
 .fmwp-forum-nav-bar
  .fmwp-forum-nav-bar-line
   .fmwp-forum-sort-wrapper
     margin: 0 15px 0 0!important
.fmwp-topic-main-wrapper
 .fmwp-topic-head
  .fmwp-topic-info
    margin-top: 30px!important


.fmwp_topic
  .single.page-meta
    display: none
article.fmwp_forum.type-fmwp_forum
    .fmwp-forum-wrapper
      padding-top: 30px!important
      padding-bottom: 60px!important
.fmwp.fmwp-archive-forums-wrapper, .fmwp.fmwp-archive-forum-wrapper
    padding-top: 0px
    padding-bottom: 60px
.fmwp.fmwp-topic-main-wrapper
    padding-bottom: 60px
    padding-top: 60px
.fmwp-forum-sort-wrapper, .fmwp-topic-main-wrapper
  label
    font-size: 18px!important
.fmwp-forums-search-line
  border-radius: 6px!important
.fmwp-search-topic,.fmwp-search-forum, input[type=button].fmwp-create-topic, input[type=button].fmwp-write-reply
  background-color: $main_blue_color!important
  border-radius: 7px
  padding: .74375em .775em .78125em!important
  &:focus
    border: none
.fmwp-archive-forums-wrapper
  .fmwp-forums-wrapper-heading
    padding: 10px 10px 10px 0!important
.fmwp-archive-forums-wrapper
  .fmwp-forums-wrapper-heading
    .fmwp-forum-head-line
      font-size: 15px!important
.fmwp-archive-forums-wrapper
  .fmwp-forums-wrapper-heading
    .fmwp-forum-head-line
      .fmwp-forum-col-topics, .fmwp-forum-col-replies
        width: 70px!important
        padding-right: 15px!important
      .fmwp-forum-col-updated
        width: 70px!important
        padding-right: 5px!important
.fmwp-archive-forums-wrapper
  .fmwp-forums-wrapper
    .fmwp-forum-row
       .fmwp-forum-row-lines
          .fmwp-forum-row-line
             font-size: 15px
             .fmwp-forum-data
               width: calc( 100% - 100px)!important
             .fmwp-forum-replies-count
               width: 75px!important
               margin-right: 15px!important


/********  Content section  ***********/

.content-section, .content
  a
    text-decoration: underline
  h2
    color: $main_blue_color
  h3
    color: $main_blue_color
    font-size: 17px
  h4,h5,h6
    font-size: 15px
    color: $main_blue_color
  strong
    color: $main_blue_color
  ul
    padding-left: 30px

/******** END Content section  ***********/

.event-wrap
  .lc-block
    height: 100%
    .live-shortcode
      height: 100%



/***********************--------------------- POPUP STYLES--------------------------------*************************/
.video-popup
  max-width: 890px
  .modal-content
   min-height: 650px

/***********************---------------------END POPUP STYLES--------------------------------*************************/


/***********-------------------------- Hero Banner Section--------------------------------***************/
.hero-banner
  /*background: url("/img/home-hero.png") no-repeat*/
  background-size: cover
  height: 669px
  margin-top: 0
  position: relative
  &>p
    padding-bottom: 0
    margin-bottom: 0
  .hero-background
    position: absolute
    height: inherit
    width: 100%
    left: 0
    top: 0
    object-fit: cover
  .container-fluid
    height: 100%
  .row
    height: 100%
  .hero-content
    z-index: 1
    padding-left: 80px
    background-color: #005596cc
    height: 100%
    text-align: left
    display: flex
    flex-direction: column
    align-self: center
    justify-content: center


    .hero-title
      font-size: 30px
      color: white
      position: relative
      line-height: 1.23
    .hero-description
      color: white
      font-size: 17px
      margin-bottom: 30px
    .hero-btn
      width: 222px
      padding: 15px 0
      font-size: 20px
      font-weight: 500
      text-decoration: none
      &:hover
        color: $main_blue_color
/***********-------------------------- End Hero Banner Section--------------------------------***************/

.event-banner-link
  width: 100%
.events
  .event-wrap
    padding-left: 0
    padding-right: 0
    &:not(:last-child)
      padding-right: 20px

    .event-item
      width: 100%
      display: flex
      flex-direction: column
      height: 100%
      .event-item--content
        border: 1px solid #707070
        width: 100%
        margin-bottom: 30px
        height: inherit
        display: flex
        .msg
          text-align: center
          display: flex
          justify-content: center
          align-self: center
          align-items: center
          padding: 15px
          width: 100%
          font-size: 20px
        a

         figure
           width: 100%
           height: 100%
           background: black
           &:hover img
             opacity: .6

           .event-payroll-img
            width: 100%
            height: 100%
            object-fit: cover
            display: block
            opacity: 1
            -webkit-transition: .3s ease-in-out
            transition: .3s ease-in-out

/***********--------- Events  Widget ------***********/
.completed-event-text
  color: $main_blue_color
.event-list
  list-style: none
  display: flex
  flex-direction: column
  .event-list-item
    text-align: left
    padding-left: 15px
    padding-right: 15px
    padding-bottom: 15px
    &:not(:last-child)
     border-bottom: 1px solid #707070
    &:nth-last-child(odd)
      background-color: #f7f9fc
    .event-list-item--title
      font-size: 17px
      color: $main_blue_color
      font-weight: 500
      margin-top: 15px
    .event-list-item--date
      color: #000000
      font-size: 15px
      font-weight: 500
      margin-bottom: 10px
      text-transform: capitalize
    .event-list-item--time
      color: #5d6e7c
      font-size: 15px
      display: flex
      justify-content: flex-start
      align-items: center
      i
        margin-right: 4px
    .event-list-item--btn
      text-decoration: none
      color: $main_blue_color
      text-transform: uppercase
      border: solid 1px $main_blue_color
      border-radius: 5px
      /*height: 24px*/
      width: 86px
      display: block
      text-align: center
      font-weight: 500
      margin-top: 15px
      transition: all 0.2s ease-in
      &:hover
        background-color: $main_blue_color
        color: white

/***********--------- END Events  Widget ------***********/

/********-----------Leaderboard widget------********/
.leaderboard-widget, .leaderboard-archive
  .leaderboard-header
    background-color: $main_blue_color
    padding-left: 25px
    padding-right: 25px
    padding-bottom: 20px
    color: white
    .leaderboard-header--title
      margin: 0
      padding-top: 15px
      font-size: 18px
      padding-bottom: 15px
      color: white
    .leaderboard-header--text
      margin-bottom: 0
  .leaderboard-items
    list-style: none
    padding-left: 0
    .leaderboard-item
      padding: 15px 0
      border-bottom: 1px solid #e6e6e6
      .leaderboard-item--wrap
        display: flex
        flex-direction: row
        justify-content: space-between
        .leaderboard-item--number
          margin-left: 20px
          margin-right: 10px
          color: $main_blue_color
          font-size: 18px
          border: 1px solid $main_blue_color
          border-radius: 50%
          min-width: 32px
          width: 32px
          height: 32px
          /*display: inline-block*/
          text-align: center
          vertical-align: middle
          line-height: 30px
        .leaderboard-item-avatar
          border-radius: 50%
          width: 32px
          height: 32px
          margin-right: 15px
          /*display: inline-block*/
          text-align: center
          vertical-align: middle
          line-height: 30px
          object-fit: cover
        .leaderboard-item--username
          flex-grow: 2
          font-weight: 500
          word-break: break-all
          a
            text-decoration: none
            color: #000000
        .leaderboard-item--points
          font-weight: bold
          font-size: 18px
          margin: 0 20px
/********----------- END Leaderboard widget------********/

/*******----- Promote Section-------********/
.promote-sec
  background-color: #01afda
  padding: 50px
  .promote-sec--text
    padding: 0
    h2
     padding: 0
     margin: 0
     font-size: $section_header_size
     font-weight: 600
     color: white
     text-align: left
  .promote-sec--link
    text-align: right
    a
     color: #01afda
     font-size: 20px
     text-decoration: none
     background-color: white
     text-align: center
     padding: 15px 0
     width: 179px
     display: inline-block
     border-radius: 7px
     font-weight: 500
     transition: all 0.1s ease-in
     &:hover
       background-color: #f1f1f1
/*******----- END Promote Section-------********/

/***********--------- partners Section ------***********/
.partners-sec
  .section-header
    .section-title
      text-align: center
  .partners-wrap
    width: 100%
    .partners-header
      background-color: $main_blue_color
      text-align: center
      color: white
      h2
        padding: 15px 0
        font-size: $section_header_size
        font-weight: bold
        color: white
    .partners-list
     display: flex
     list-style: none
     flex-direction: row
     justify-content: center
     .partner-item
       display: flex
       padding: 43px 20px
       &:first-child
         padding-left: 0
       &:last-child
         padding-right: 0
       .partner-logo
         width: auto
         height: 59px
/***********--------- END partners Section ------***********/

/********------ Downloads section ----******/
.section-header
  .section-title
    text-align: center
.download-wrap
  /*padding: 0 15px*/
  display: flex
  height: 100%
  flex-direction: column
  .download-img
    img
      width: 100%
      object-fit: cover
  .download-content
    padding: 0 30px
    border: 1px solid #707070
    border-top: 0
    height: inherit
    display: flex
    flex-direction: column
    .download-content-wrap
      flex-grow: 2
    .download-text
      color: #5d6e7c
    .download-title
      text-decoration: none
      h3
       text-align: left
       font-size: 18px
       color: $main_blue_color
       font-weight: bold
       padding-top: 35px
    .download-hashtag
      font-size: 12px
      font-weight: 500
      line-height: 1.25
      text-align: left
      color: #5d6e7c
      padding-bottom: 40px


    .download-controls
      display: flex
      flex-direction: row
      justify-content: space-between
      padding-bottom: 35px
      a
        width: 97px
        height: 37px
        display: flex
        justify-content: center
        align-items: center
        &:not(:first-child)
         width: 37px
         margin-left: 5px
.downloads-all
  text-align: center
  width: 100%
  padding-top: 50px
  a
    width: 357px
    display: inline-block
/********------ END Downloads section ----******/

/********------- Call to Action sections--------*******/
.cta-sec
  padding: 53px 0
  &.blue-bg
    .cta-sec--link
      a
        color: $main_blue_color
  .cta-sec--link
    display: flex
    justify-content: flex-end
    align-items: center
    a
      color: #01afda
      font-size: 20px
      text-decoration: none
      background-color: white
      text-align: center
      padding: 15px 0
      width: 179px
      /*height: 56px*/
      display: inline-block
      border-radius: 7px
      font-weight: 500
      transition: all 0.1s ease-in
      &:hover
        background-color: #f1f1f1
  .cta-sec--text
    color: white
    text-align: left
    line-height: 1.2
    h2
      font-size: $section_header_size
      font-weight: bold
      margin-bottom: 13px
      color: white
    p
      font-size: 20px
/********------- END to Action sections--------*******/

/********** -------- Winners Section --------- **********/
.winners-sec
  margin-bottom: 100px
  .row:not(:first-child)
    padding-top: 15px
  .winner-wrap
    border: solid 0.5px #5d6e7c
    display: flex
    flex-direction: column
    height: 100%

    .winner-photo
      img
        width: 100%
        object-fit: cover
        height: 250px
    .winner-nickname
      padding-top: 23px
      color: $main_blue_color
      font-size: 18px
      font-weight: bold
      line-height: 1.28
      text-align: center
      &:after
        content: ""
        display: block
        width: 35px
        border: 1px solid $main_blue_color
        margin: 0 auto
        margin-top: 10px

    .winner-text
      text-align: center
      font-size: 14px
      line-height: 1.17
      padding: 0 30px
      color: #5d6e7c
      padding-bottom: 20px
  .winners-all
    text-align: center
    width: 100%
    padding-top: 50px
    a
     width: 357px
     display: inline-block

/********** -------- END Winners Section --------- **********/

/*****************-------- Footer---------***************/
.page-footer
  /*margin-top: 100px*/
  background-color: $main_blue_color
  .um-online-pic
    img,a
     border-radius: 50% !important
  .footer-title
    margin-bottom: 12px
    display: flex
    color: white
    font-size: 18px
  .footer-wrap
    padding: 40px 0
    .footer-social-wrap
      text-align: right
      .social-links-list
        list-style: none
        display: flex
        flex-direction: row
        justify-content: flex-end
        margin-bottom: 12px
        .social-link-item
          padding: 10px
          background-color: white
          border-radius: 50%
          height: 35px
          width: 35px
          margin: 0 4px
          display: flex
          justify-content: center
          align-items: center
          .social-links-item--link
            text-decoration: none
            display: flex
          i
            background-color: $main_blue_color
            height: 17px
            width: 17px
      .footer-img-banner
        img
          width: 100%
          height: auto
          max-width: 198px

    .footer-menu-wrap
      display: flex
      flex-direction: column
      justify-content: flex-end
      height: 100%
      .footer-menu
       list-style: none
       text-align: left
       li
         color: white
         display: inline-block
         &:not(:last-child):after
           content: ""
           display: inline-block
           height: 20px
           border: 1px solid white
           margin-right: 10px
           margin-left: 10px

         a
           text-decoration: none
           color: white
           vertical-align: super
           font-size: 16px

  .copyright-wrap
    background-color: $copyright_wrapper_color
    text-align: center
    padding: 20px 0
    width: 100%
    p
      color: white
      margin: 0
      padding: 0

/*****************-------- END Footer---------***************/



/****************---------- ABOUT PAGE----------************/
.content-wrap
  .about-text
    p
      font-size: 15px
      line-height: 1.13
      color: #5d6e7c
/****************----------END ABOUT PAGE----------************/




/******------- COLORS-----*******/
.light-blue-bg
  background-color: $light_blue_color
.blue-bg
  background-color: $main_blue_color



@import "events"
@import "widgets"
@import "downloads"
@import "leaderboard"
@import "challenges"
@import "forms"
@import "responsive"
















