body
  margin: 0 /*auto*/
  padding: 0
  /*max-width: 1200px*/
.container-fluid, .container
  padding-left: 80px
  padding-right: 80px
.hero-banner
  background: url("/img/home-hero.png") no-repeat
  background-size: cover
  height: 669px
  .hero-content
    z-index: 1
    &:after
     content: ""
     background-color: #005596cc
     height: 669px
     width: 100%
     position: absolute
     left: -80px
     z-index: 0
    h2
      font-size: 22px
      color: white









