@media screen and (max-width: 1199px)
  .partners-sec
   .partners-wrap
    .partners-list
     .partner-item
      .partner-logo
        height: 45px

@media screen and (min-width: 768px) and (max-width: 992px)
  .main-content-sec
    .content
      padding-left: 15px
    .sidebar
      padding-right: 15px
  .page-footer
   .footer-wrap
    .footer-menu-wrap
     .footer-menu
       text-align: center
    .footer-social-wrap
     .social-links-list
       justify-content: flex-end
     .footer-img-banner
      img
        width: 100%
        height: auto

  .download-wrap
   .download-content
    .download-controls
      justify-content: center
      flex-direction: column
      align-items: center
      a
        width: 100%
        &:not(:first-child)
          width: 100%
          margin-top: 5px

  .downloads-archive
    .download-wrap
    .download-content
      .download-controls
        flex-direction: row


  .partners-sec
    .partners-wrap
      .partners-list
        .partner-item
          .partner-logo
            height: 35px
  .events
   .event-wrap:last-child
     padding-left: 0
     margin-top: 15px
   .event-wrap:first-child
     padding-left: 0!important

   .event-wrap:not(:last-child)
     padding-right: 0
     padding-left: 15px

@media screen and (max-width: 767px)
  .downloads-archive
    .download-wrap
      flex-direction: column
      &:not(:first-child)
        margin-top: 15px
      .download-img
        img
          width: 100%
          height: 250px
          object-fit: cover
  .row
    margin: 0
  .container-fluid
    padding-left: 0
    padding-right: 0
  .download-wrap
    height: auto
    .download-content
      .download-controls
        a
          width: 100%
          padding: 0 10px
          &:not(:first-child)
            width: 100%
            margin: 0 5px
  .events
   .event-wrap
     padding-left: 15px
     padding-right: 15px
     .event-item
       height: auto
       .event-item--content
         height: auto
       .hero-btn
         margin-bottom: 30px
     &:not(:last-child)
       padding-right: 15px


  .hero-banner
   height: 100vh
   .hero-content
     padding-right: 15px
     padding-left: 15px
     padding-bottom: 50px
     padding-top: 50px
     text-align: center
     .hero-btn
       margin: 0 auto
     .hero-description
       margin-top: 15px
  .partners-sec
    .partners-wrap
      .partners-list
        flex-direction: column
        .partner-item
          justify-content: center
          padding: 15px 20px
          .partner-logo
            height: 59px
  .promote-sec
   .promote-sec--text
     h2
      text-align: center
   .promote-sec--link
     text-align: center
     margin-top: 30px
  .download-wrap
    margin-bottom: 15px
  .cta-sec
   .cta-sec--text
     text-align: center
   .cta-sec--link
     justify-content: center
  .winners-sec
   .winner-wrap
     margin-bottom: 15px
     height: auto
  .page-footer
   .footer-wrap
    .onliners-wrap
      text-align: center
    .footer-social-wrap
      margin-top: 30px
      text-align: center
      .social-links-list
        justify-content: center
    .footer-menu-wrap
     padding-top: 30px
     .footer-menu
       text-align: center
  .events-archive-list
   .event-archive-item
    .event-archive-item-wrap
      flex-direction: column
      .event-archive-item--image
        width: 100%
        height: 218px
        img
          width: 100%
      .event-archive-item--content
        .event-date
          flex-direction: column
          .time
            margin-left: 0
        .event-controls
          display: flex
          justify-content: center
  .main-content-sec
   .content
    padding-left: 15px
   .sidebar
    padding-right: 15px
@media screen and (max-width: 550px)
  html
    overflow-x: inherit!important
@media screen and (max-width: 375px)
  .downloads-all
    padding: 0 15px
    a
      display: block
      width: auto
  .winners-sec
   .winners-all
     padding: 0 15px
     a
       display: block
       width: auto


  .download-wrap
    .download-content
      .download-controls
        justify-content: center
        flex-direction: column
        align-items: center
        a
          width: 100%
          &:not(:first-child)
            width: 100%
            margin-top: 5px
